:root[data-gantt-theme='contrast-white'] {
  --dhx-gantt-theme: contrast-white;
  --dhx-gantt-base-colors-disabled: #c2c2c2;
  --dhx-gantt-base-colors-text-light: #303030;
  --dhx-gantt-base-colors-text-base: #303030;
  --dhx-gantt-base-colors-background: #ffffff;
  --dhx-gantt-base-colors-background-alt: #929292;
  --dhx-gantt-base-colors-border: #4d595b;
  --dhx-gantt-base-colors-border-light: #4d595b;
  --dhx-gantt-base-colors-text-on-fill: #fff;

  --dhx-gantt-base-colors-primary: #0a47cd;
  --dhx-gantt-base-colors-text-on-fill: rgba(255, 255, 255, 0.9);

  --dhx-gantt-task-background: #0a47cd;
  --dhx-gantt-task-border: 1px solid rgba(0, 0, 0, 0.1);

  --dhx-gantt-project-background: #157949;

  --dhx-gantt-base-colors-warning: #fcba2e;
  --dhx-gantt-base-colors-success: #77d257;

  --dhx-gantt-base-colors-error: #d01e11;

  --dhx-gantt-base-colors-error-text: #141414;

  --dhx-gantt-btn-color: #ffffff;
  --dhx-gantt-btn-color-hover: #ffffff;
  --dhx-gantt-btn-color-active: #ffffff;

  --dhx-gantt-base-colors-select: #e7e5e5;
  --dhx-gantt-base-colors-hover-color: #e7e5e5;

  --dhx-gantt-base-colors-icons: #303030;

  --dhx-gantt-scale-color: var(--dhx-gantt-base-colors-text-light);

  --dhx-gantt-popup-background: #fff;
  --dhx-gantt-popup-border: 1px solid #4d595b;

  --dhx-gantt-font-size: 16px;
  --dhx-gantt-heading-font-size: 24px;
  --dhx-gantt-important-font-size: 16px;
  --dhx-gantt-regular-font-size: 16px;
  --dhx-gantt-caption-font-size: 16px;

  --dhx-gantt-btn-outline-color-hover: #212121;
  --dhx-gantt-btn-outline-color-active: #ffffff;
}
