:root[data-gantt-theme='dark'] {
  --dhx-gantt-theme: dark;
  --dhx-gantt-base-colors-disabled: #3d3d3d;
  --dhx-gantt-base-colors-text-light: #aaa;
  --dhx-gantt-base-colors-text-base: rgba(255, 255, 255, 0.9);
  --dhx-gantt-base-colors-background: #141414;
  --dhx-gantt-base-colors-background-alt: #383838;
  --dhx-gantt-base-colors-border: #4b4b4b;
  --dhx-gantt-base-colors-border-light: #4b4b4b;

  --dhx-gantt-navline-font-color: var(--dhx-gantt-base-colors-text-base);
  --dhx-gantt-base-colors-primary: #3b72f8;
  --dhx-gantt-base-colors-error: #eb284f;

  --dhx-gantt-base-colors-select: #2a2a2a;
  --dhx-gantt-base-colors-hover-color: #2a2a2a;
  --dhx-gantt-base-colors-icons: #aaaaaa;

  --dhx-gantt-scale-color: var(--dhx-gantt-base-colors-text-light);

  --dhx-gantt-popup-background: #1b1b1c;
  // --dhx-gantt-lightbox-title-background: var(--dhx-gantt-popup-background);
  // --dhx-gantt-popup-color: var(--dhx-gantt-base-colors-text-base);
  --dhx-gantt-popup-border: 1px solid #4b4b4b;

  --dhx-gantt-btn-font-weight: 600;
  --dhx-gantt-undo-delete-background: var(--dhx-gantt-popup-background);

  --dhx-gantt-link-handle-border: var(--dhx-gantt-base-colors-border);
  --dhx-gantt-link-handle-background: var(--dhx-gantt-base-colors-background);
}
