@use 'ax-variables' as *;
@use 'ax-antd' as *;
@use 'ax-shared' as *;
@use 'ax-layout' as *;
@use 'ax-agent' as *;
@use 'mps/ax-mps-simulation' as *;
@use 'mps/ax-mps-order' as *;
@use 'mps/ax-mps-analysis' as *;
@use 'mps/ax-mps-process' as *;
@use 'eps/ax-eps-simulation' as *;
@use 'eps/ax-eps-order' as *;
@use 'eps/ax-eps-analysis' as *;
@use 'eps/ax-eps-process' as *;

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family:
    'Roboto',
    -apple-system,
    sans-serif;
  font-size: 14px;
}

body {
  font-family:
    'Roboto',
    -apple-system,
    sans-serif;
  font-size: 14px;
}
